body{
    font-family: "Trebuchet MS", helvetica, sans-serif;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
    width: 720px;
}
ul li{
    float: left;
    background: url(../imagens/aba-direita.png) no-repeat top right;

}
li a {
    display: block;
    padding: 0 2em;
    line-height: 3em;
    text-decoration: none;
    background: url(../imagens/aba-esquerda.png) no-repeat top left;
    color: #ffffff;

}

li a:hover{
    color: black;
}
ul #atual{
    background: url(../imagens/aba-direita-atual.png) no-repeat top right;
}
ul #atual a{
    background: url(../imagens/aba-esquerda-atual.png) no-repeat top left;
}

p{
    width: 600px;
    padding: 10px;
    margin-top: 20px;
    text-align: justify;
}